<div class="row">
	<div class="list-group">
	  <a ng-href="#/news/{{category}}" class="list-group-item" ng-repeat="category in categories">
	    <h4 class="list-group-item-heading text-capitalize">{{category}}</h4>
	    <p class="list-group-item-text">This is the News Details</p>
	  </a>
	  <a ng-href="#/statewise" class="list-group-item">
	    <h4 class="list-group-item-heading text-capitalize">State Wise</h4>
	    <p class="list-group-item-text">This is the News Details</p>
	  </a>
	</div>
</div>