<div id="side-nav" class="qp-ui-side-nav-drawer qp-ui-side-nav-drawer-nogpu qp-ui-side-nav-drawer-visible" ng-class="{'side-nav-open' : sideMenuOpen}" ng-click="toggleSideMenu()">
	<div class="list-group">
	  <a href="#/" class="list-group-item nbr active">Home</a>
	  <a href="#news" class="list-group-item">News</a>
	  
	  
	  <a href="https://news.google.com/news/?edchanged=1&ned=hi_in&hl=hi#0" class="list-group-item">Google News</a>
	  
	  <a class="list-group-item" style="font-weight: bold;">Hindi News Websites</a>
	  <li class="list-group-item" ng-click="navigateTo('http://m.navbharattimes.indiatimes.com/',1)">Nav Bharat Times</li>
	  <li class="list-group-item nbr" ng-click="navigateTo('http://www.jansatta.com/',1)">Jansatta</li>
	  <li class="list-group-item nbr" ng-click="navigateTo('https://m.bhaskar.com/',1)">Dainik Bhasker</li>
	  <li class="list-group-item nbr" ng-click="navigateTo('http://hindi.oneindia.com/',1)">OneIndia</li>
	  <li class="list-group-item nbr" ng-click="navigateTo('https://m.aajtak.in/',1)">Aaj Tak</li>
	  <a class="list-group-item" style="font-weight: bold;">English News Websites</a>
	  <li class="list-group-item" ng-click="navigateTo('http://www.thehindu.com/',1)">The Hindu</li>
	  <li class="list-group-item nbr" ng-click="navigateTo('http://m.timesofindia.com/',1)">Times of India</li>
	  <li class="list-group-item nbr" ng-click="navigateTo('http://m.hindustantimes.com/',1)">Hindustan Times</li>
	  <li class="list-group-item nbr" ng-click="navigateTo('http://www.dnaindia.com/',1)">DNA India</li>
	  <li class="list-group-item nbr" ng-click="navigateTo('http://indianexpress.com/',1)">Indian Express</li>
	  
	  <a href="#news" class="list-group-item">News</a>
	  <a href="#feedback" class="list-group-item">Feedback</a>
	  <a href="#about" class="list-group-item">About</a>
	  <a href="#settings" class="list-group-item">Settings</a>
	  <a href="#" class="list-group-item" ng-click="contactUs()">Contact Us</a>
	  <a href="javascript:;" class="list-group-item" ng-click="shareApp()"><span class="glyphicon glyphicon-share-alt"></span> Share Application</a>
	</div>
</div>
<div ng-if="sideMenuOpen" class="qp-ui-mask-modal qp-ui-mask-visible" ng-click="toggleSideMenu()" ></div>